body {
    color: white;
    background: black;
    margin: 0px
    font-family: "Sour Gummy", sans-serif;
}

header {
    border-bottom: solid 2px rgb(25, 109, 123);
    padding: 20px;
    font-size: 32px;
    color: rgb(25, 109, 123);
}

section{
    background: rgb(24, 190, 246, 0.713);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
justify-content: center;
}

.chamada-texto{
margin-right: 5%;
}

h1 {
    font-size: 35px;
}

p {
font-size: 18px;
}

img {
    height: 200px;
}

.categoria-vídeos {
    display: flex;
    overflow-x: auto;
    gap: 10px;

}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}